

// base colours
$brand-white: #fff;
$brand-white-2: #e3e8ee;
$brand-white-3: #f6f9fc;
$brand-text-dark: #3b415e;
$brand-green: #3ecf8e;
$brand-red: #ef5350;
$brand-purple: #8f6ed5;
$brand-purple-2: #6772e5;
$brand-purple-3: #515ee1;
$brand-yellow: #fce883;
$brand-grey: #8898aa;
$brand-light-grey: #aab7c4;


// button
$btn-bg: $brand-purple-2;
$btn-text: $brand-white;
$btn-bg-hover: $brand-purple-3;
$btn-bg-disabled: $brand-light-grey;

// graph variants
$graph-green: $brand-green;
$graph-red: $brand-red;
$graph-purple: $brand-purple;
$graph-yellow: $brand-yellow;
$graph-bar-bg: $brand-grey;

// common
$border-colour: $brand-white-2;