@import '~ddbreakpoints/lib/dd.breakpoints';

body {
  background-color: #f6f9fc;
  color: #3b415e;
}

.App {
  display: flex;
  justify-content: center;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0 10px;

  @include bp(m) {
    margin: 0 40px;
    max-width: 1200px;
  }

  @include bp(xl) {
    margin: 0 80px;
    max-width: 1400px;
  }
}

.control-panel {
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px 40px 40px 40px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.control {
  margin-top: 20px;
  margin-right: unset;
  width: 100%;

  @include bp(l) {
    width: 200px;
    margin-top: unset;
    margin-right: 20px;
  }
}

.select {
  margin-top: 5px;
}

.algorithm-details {
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e8ee;
}

.visualisation-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #e3e8ee;

  @include bp(m) {
    flex-direction: row;
    justify-content: center;
  }

  & > button {
    width: 100%;
    margin-top: 10px;
    margin-right: unset;

    @include bp(m) {
      width: 150px;
      margin-top: unset;
      margin-right: 20px;
    }
  }
}

.graph-container {
  padding: unset;

  @include bp(m) {
    padding: 0 50px;
  }

  @include bp(xl) {
    padding: 0 70px;
  }
}

.visualiser-container {
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 4px;
  padding: 10px 20px;

  @include bp(xl) {
    padding: 20px 40px;
  }
}

.graph {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 300px;
}

.graph-bar {
  margin-right: 1px;
  background-color: #8898aa;
  flex: 1;
}

.graph-bar--comparison {
  background-color: #3ecf8e;
}

.graph-bar--swap {
  background-color: #ef5350;
}

.graph-bar--ordered {
  background-color: #8f6ed5;
}

.graph-bar--highlight {
  background-color: #fce883;
}

header {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

footer > p {
  margin: 5px;
}

button {
  background: #6772e5;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #515ee1;
}

button[disabled] {
  background: #aab7c4;
  cursor: not-allowed;
}
