.App {
  text-align: center;
}

.App-logo {
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.graph-container {
  border: 1px solid red;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.graph-bar {
  margin: 0 1px;
  background-color: blue;
  flex: 1;
}

.graph-bar--comparison {
  background-color: green;
}

.graph-bar--swap {
  background-color: red;
}

.graph-bar--ordered {
  background-color: purple;
}

.graph-bar--highlight {
  background-color: yellow;
}



main {
  margin: 0 5%;
}