body {
  background-color: #F6F9FC;
  color: #3b415e; 
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}


.control-panel {
  box-shadow: 0 6px 12px -2px rgba(50,50,93,.25), 0 3px 7px -3px rgba(0,0,0,.3);
  background: #FFF;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px 40px 40px 40px;
}

h2 {
  margin: 10px 0;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.control {
  margin-right: 20px;
  min-width: 200px;
}

.select {
  margin-top: 5px;
}



.algorithm-details {
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e8ee;
}

.visualisation-controls {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #e3e8ee;
}



.graph-container {
  padding: 0 70px;
}

.visualiser-container {
  box-shadow: 0 6px 12px -2px rgba(50,50,93,.25), 0 3px 7px -3px rgba(0,0,0,.3);
  background: #FFF;
  border-radius: 4px;
  padding: 20px 40px;
}

.graph {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 300px;
}

.graph-bar {
  margin: 0 1px;
  background-color: #8898aa;
  flex: 1;
}

.graph-bar--comparison {
  background-color: #3ecf8e;
}

.graph-bar--swap {
  background-color: #ef5350;
}

.graph-bar--ordered {
  background-color: #8f6ed5;
  
}

.graph-bar--highlight {
  background-color: #FCE883;
}


.layout-l {
  width: 100%;
  margin: 0 80px;
  max-width: 1400px;
}


main {
  display: flex;
  justify-content: center;
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

footer > p {
  margin: 5px;
}


button {
  background: #6772e5;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #515ee1;
}

button[disabled] {
  background: #aab7c4;
  cursor: not-allowed;
}

